* {
    box-sizing: border-box;
}
body, html {
    height: 100vh;
    width: 100%;
    background-color: #131313;
    color: #ececec;
    margin: 0;
    font-family: "Kanit", sans-serif;
}
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    border-bottom: 2px solid cyan;
    display: flex;
    align-items: center;
    justify-content: center;
}
a {
    color: white;
}
.logo {
    height: 45px;
}
.logo img{
    display: block;
    max-height: 100%;
}
main {
    height: 100%;
    width: 100%;
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 550px) {
    header {
        height: 65px;
    }
    main {
        padding-top: 65px;
    }
    .logo {
        height: 35px;
    }
}