@import url(../misc/base.css);

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 15;
}

nav {
    width: 100%;
    background-color: var(--color-darker-gray);
    border-bottom: 2px solid var(--color-light-gray);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 40px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
nav > * {
    height: 100%;
}
.nav-center img {
    max-height: 40px;
}

.nav-link {
    padding: 8px 0;
}
.nav-center {
    display: flex;
    align-items: center;
}
.nav-link div {
    padding: 5px 8px;
    border-radius: 3px;
    color: var(--color-light-gray);
    text-transform: uppercase;
    margin: auto;
    transition: color .2s ease, background-color .2s ease;
}
.nav-link:hover div{
    background-color: #F2C4CE;
    color: #373737;
}

.dropdown-container {
    display: grid;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 15;
}
.dropdown-menu {
    position: absolute;
    min-width: max-content;
    top: 100%;
    left: 0;
    border: 2px solid #F2C4CE;
}
.dropdown-option {
    padding: 15px;
    min-width: 175px;
    position: relative;
    color: var(--color-light-gray);
}
.dropdown-option .dropdown-menu {
    top: -2px;
    left: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}
.dropdown-option:hover{
    background-color: #F2C4CE;
    color: #373737;
}
.dropdown-option:hover .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
}
.dropdown-container > .dropdown-menu {
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;   
}
.dropdown-container:hover > .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
}
.icon-menu {
    cursor: pointer;
    display: none;
    user-select: none;
    align-items: center;
    justify-items: center;
    margin-bottom: 3px;
}

.icon-menu span {
    font-size: 40px;
}


