@import url(../misc/base.css);

header {
    position: fixed;
    top: 0;
    left: 0;
    height: 75px;
    width: 100%;
    z-index: 15;
}

nav {
    width: 100%;
    background-color: var(--color-darker-gray);
    border-bottom: 2px solid var(--color-light-gray);
    height: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    padding: 0 40px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    position: relative;
}
.nav-left {
    display: flex;
    align-items: center;
    gap: 30px;
    cursor: pointer;
}
nav > * {
    height: 100%;
}
.nav-center img {
    max-height: 40px;
}

.nav-link {
    padding: 8px 0;
}
.nav-center {
    display: flex;
    align-items: center;
}
.nav-link div {
    padding: 5px 8px;
    border-radius: 3px;
    color: var(--color-light-gray);
    text-transform: uppercase;
    margin: auto;
    transition: color .2s ease, background-color .2s ease;
}
.nav-link:hover div{
    background-color: #F2C4CE;
    color: #373737;
}

.dropdown-container {
    display: grid;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 15;
}
.dropdown-menu {
    position: absolute;
    min-width: max-content;
    height: fit-content;
    top: 100%;
    left: 0;
    border: 2px solid #F2C4CE;
}
.dropdown-option {
    min-width: 175px;
    position: relative;
    color: var(--color-light-gray);
    height: fit-content;
}
.dropdown-option .dropdown-menu {
    top: -2px;
    left: 100%;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;
}
.dropdown-option:hover{
    background-color: #F2C4CE;
    color: #373737;
}
.dropdown-option:hover .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
}
.dropdown-container > .dropdown-menu {
    opacity: 0;
    height: fit-content;
    pointer-events: none;
    transition: .2s ease; 
    min-width: 100%;  
}
.dropdown-container:hover > .dropdown-menu {
    opacity: 1;
    pointer-events: initial;
    height: fit-content;
}
.icon-menu {
    cursor: pointer;
    display: none;
    user-select: none;
    align-items: center;
    justify-items: center;
    margin-bottom: 3px;
    width: fit-content;
    margin-right: 20px;
}

.icon-menu span {
    font-size: 40px;
}

.option-name {
    padding: 15px;
}
@media screen and (max-width: 750px) {
    nav {
        padding: 0 20px;
    }
    nav * {
        -webkit-tap-highlight-color: transparent;
    }
    .nav-link {
        width: fit-content;
        display: block;
    }
    .dropdown-container {
        display: initial;
        height: auto;
        width: 100%;
    }
    .dropdown-menu {
        position: static;
        opacity: 1 !important;
        border: none;
    }
    .dropdown-option {
        width: 100%;
        padding: 0;
    }
    .icon-menu {
        display: flex;
    }
    .nav-left {
        position: absolute;
        flex-direction: column;
        align-items: initial;
        bottom: 0;
        left: 0;
        width: 100%;
        gap: 23px;
        padding: 30px 30px;
        height: fit-content;
        border-bottom: 2px solid white;
        transition: all .2s ease;
        z-index: -1;
        background-color: var(--color-darker-gray);
    }

    .dropdown-menu {
        max-height: 0px;
        overflow: hidden;
        border: none;
        transition: max-height .3s ease;
    }
    .first-level > .dropdown-option {
        padding: 10px 0 ;
    }
    .dropdown-menu.second-level {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .dropdown-option:hover .dropdown-menu {
        max-height: 200px;
        pointer-events: initial;
        padding: 15px;
    }

    .dropdown-container:hover > .dropdown-menu {
        max-height: 500px;
        margin-top: 10px;
    }
    .dropdown-option:hover{
        background-color: transparent;
        color: var(--color-light-gray);
        
    }
    .dropdown-option:hover > .option-name {
        background-color: pink;
        color: #373737;
    }
    
    .first-level, .second-level {
        margin: 0 20px;
    }

    .option-name {
        padding: 5px 8px;
        border-radius: 3px;
        width: fit-content;
    }
    .visible {
        top: 100%;
        bottom: auto;
    }
}

@media screen and (max-width: 350px) {
    .nav-center img {
        max-height: 35px;
    }
}